*{
    box-sizing: border-box;
}


.register-form {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.register-form > input{
    width: 20rem;
}
input{
    margin: 0.5em 0 0.5em 0;
}
.btnSubmit,.user-input{
    padding: 0.5rem;
}
.user-input{
border-radius: 1.5em;
border: 2px solid black;
}
.user-input:focus{
    border: transparent;
    font-size: 1rem;

}
.btnSubmit{
    color: white;
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
    border: none;
}

@media (max-width:800px) {
    .register-form{
        width: 50%;
    }
}
@media (max-width:600px) {
    .register-form{
        width: 70%;
    }
}

@media (max-width:400px) {
    .register-form{
        width: 80%;
    }
}